/* css quiz */

body {
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white; /* Testo bianco per tutto il body */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    height: 100vh; 
}

header {
    display: flex;
    align-items: center; /* Centra l'immagine e il testo orizzontalmente */
    justify-content: flex-start; /* Allinea l'immagine a sinistra */
    padding: 20px; /* Margine per separare il contenuto dal bordo */
}
header img {
    width: 150px; 
    margin-right: 10px; /* Margine a destra per separare il logo dal testo */
}

header h1 {
    color: white; 
}


.tondo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid #00FFFF ; /* Colore celeste per il bordo */
    display: flex;
    justify-content: center;
    color: white; /* Colore celeste per il numero dei secondi */
    text-align: center;
}

.seconds{
    font-size: 12px;
}

#time{
    font-size: 35px;
}

h3 #questionNumber {
    font-size: 18px;
    color: #ffffff; /* Testo bianco */
    margin-bottom: 10px;
}

.bottom h3{
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

/* Aggiunta dello stile per le risposte con radio button */
.testing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 400px;
}

#proceedBtn{
    padding: 16px 48px 16px 48px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0;
    border: 0;
    background-color: #75FBFD;
    transition: 0.3s;
    cursor: pointer;
}

#proceedBtn:hover{
    background-color: #75FBFD;
    box-shadow: #75FBFD 0px 0px 20px;
    transition: 0.3s;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h2{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 3rem;
    color: white;
    margin-bottom: 32px;
}

input[type=radio] {
    visibility: hidden;
}

input[type=radio]+label {
    cursor: pointer;
    padding: 1.5em;
    background: #ffffff8e;
    color: white;
    border-radius: 8px; /* Aggiunto bordo arrotondato per simularne l'aspetto di un bottone */
    margin: 5px 0; /* Aggiunto margine per separare le risposte */
    transition: background 0.2s; /* Animazione del colore di sfondo al passaggio del cursore */
}

input[type=radio]+label:hover {
    background: #1E90FF; /* Cambio del colore di sfondo al passaggio del cursore */
}

input[type=radio]:checked+label {
    background: red;
}

#answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px;
}

.testing .numberOfQuestion {
    user-select: none;
}


/* css results  (SERENA) */

.results {
    display: none; 
}
.circularPercentageVisualization {  
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
